<style>
  .modal-content{
  background-color: #212121
  }
</style>

<div id= "delete_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task</h5>

      </div>
      <div class="modal-body">
        <p> Are you sure to delete? </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Yes</button>
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
