<style>
  .modal-content{
  background-color: #212121
  }
</style>

<div id="edit_modal{{task.id}}" class="modal fade"  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
      </div>
      <div class="modal-body">

        <form action="{{url_for('update')}}" method= "POST">
          <div class="form-group">
            <label> Task</label>
            <input type="hidden" name="id" value="{{task.id}}">
            <input type="text" class="form-control" name="name" value="{{task.task_name}}">
          </div>
          <div class="form-group">
             <label for ="status"> Status </label>
              <br>
              <select class="form-select" id="status" name="status" >
                  <option selected>{{task.status}}</option>
                  <option value="To_do">To do</option>
                  <option value="In_progress">In progress</option>
                  <option value="completed">Completed</option>
              </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Update</button>
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>

      </div>
    </div>
  </div>
</div>
